body, div, ul, li {
    background-color: #233A6A;
    color: #8DBDBB;
    font-family: 'Raleway', sans-serif;
}

.container, .jumbotron, .navbar {
    background-color: #233A6A;
    color: #8DBDBB
}

.list-group-item {
    background-color: #233A6A;
    position: relative;
    display: block;
    padding: .25em;
    border: 2px solid #ffffff;
}

a:link {
    color: #8DBDBB
}

a:hover {
    color: #EBC782
}