{% extends 'layout.html'%}

{% block body%}
    <div class="container">
        <div class="text-center"><h1>My Addresses</h1></div>
        <hr>
        <div class="text-center">
            <a href='/newaddress/' class="nav-link"><input type="submit" class="btn btn-info" value="Add an Address"></a>
        </div>
        <hr>
        <div>
            <ul class="list-group">
                {% for address in addresses %}
                    <li class="list-group-item">
                        <div class="text-center">
                            <p>{{address.id}}. {{address.surname}}</p>
                            <p>{{address.address_1}}</p>
                            <p>{{address.address_2}}</p>
                            <p>{{address.city}}, {{address.state}} {{address.zipcode}}</p>
                            <div class="text-center">
                                <form action="{{url_for('deleteAddress', id = address.id)}}" method="POST">
                                    <input type="none" value="Edit Address" class ="btn btn-info">
                                    <input type="hidden" name="_method" value="Delete this address">
                                    <input type="submit" value="Delete Address" class ="btn btn-warning">
                                </form>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}